<!-- Under Posts -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Comment entry:</strong>
  <%= @comment.comment_entry %>
</p>



<%= link_to 'Edit', edit_comment_path(@post) %> |

<%= link_to 'Back', comment_path %>
